header {
    width: 100%;
    margin: 0;
    padding: 0;
}

header h1 {
    width: 100;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 52px;
}

header h2 {
    width: 100;
    margin: 0;
    padding: 5px;
    text-align: right;
    font-size: 24px;
}

.headder-asset {
    background-color: #64bb7e;
}

.headder-income {
    background-color: cornflowerblue;
}

.headder-expense {
    background-color: tomato;
}