.setting_area {
    margin: 5px 0;
}

.setting_area #selectFolderBtn {
    width: 60px;
    font-size: 30px;
    text-align: center;
    background-color: dimgray;
    border-width: 3px;
    padding: 8px;
}

.setting_area #folderPath {
    font-size: 24px;
    width: 80%;
    height: 40px;
    margin: 0 5px;
}