.setting-area {
    margin: 5px 0;
}

.setting-area #folder-Btn {
    width: 3%;
    font-size: 30px;
    text-align: center;
    background-color: dimgray;
    border-width: 3px;
    padding: 8px;
}

.setting-area #folder-Path {
    font-size: 24px;
    width: 80%;
    height: 40px;
    margin: 0 5px;
}