/* Tabs 全体 */
.dash-tabs,
.tab-container {
    background-color: #f2f2f2;
}

/* 通常タブ */
.dash-tab,
.tab {
    background-color: #f2f2f2 !important;
    border-top: 4px solid transparent !important;
}

/* 選択中タブ */
.dash-tab--selected,
.tab--selected {
    background-color: #ffffff !important;
    border-top: 4px solid dimgray !important;
    font-weight: bold;
}
