.card1 {
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    background: #b4b6b8;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    margin-top: 20px;
}

.card-title {
    font-size: 24px;
    color: #666;
    margin-bottom: 8px;
}

.card-font {
    font-size: 48px;
    font-weight: bold;
}