<!DOCTYPE html>
<html>
<head>
    <title>個人家計簿アプリ</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common_btn.css') }}">
</head>
<body>
    <!-- サイドバー -->
    <div id="sidebar" class="sidebar">
        <a href="{{ url_for('home') }}">メインメニュー</a>
        <a href="{{ url_for('asset') }}">資産分析</a>
        <a href="{{ url_for('income') }}">収入分析</a>
        <a href="{{ url_for('expense') }}">支出分析</a>
        <a href="{{ url_for('setting') }}">設定</a>
        <a href="{{ url_for('/setting/') }}">テスト</a>
    </div>

    <!-- オーバーレイ -->
    <div id="overlay" class="overlay" onclick="closeSidebar()"></div>

    <!-- メニューボタン（最前面固定） -->
    <button id="menu-toggle" class="menu-btn" onclick="toggleSidebar()">&#9776;</button>
    
    <!--画面共通のヘッダー-->
    <header>
        <h1>個人家計簿</h1>
        <h2>設定</h2>
        <button class="refresh-btn" id="refresh-btn" onclick="refreshData()">&#10227;</button>
    </header>
    <main>
        <!--設定画面-->
        <div class="setting_area">
            <h2>取り込みフォルダ</h2>
            <!-- フォルダ選択ボタン -->
            <button id="selectFolderBtn">📁</button>
            <!-- 保存先パスを表示 -->
            <input type="text" id="folderPath" value="{{ folder_path }}" readonly>
        </div>
    </main>
    <!--画面共通のフッター-->
    <footer>
        <!--最終更新日-->
        <p class="footer_item">最終更新日</p>
        <!--アプリバージョン-->
        <p class="footer_item">Ver.1.0.0</p>
    </footer>
    <!-- 外部JSファイルを読み込み -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/routes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/folder.js') }}"></script>
</body>
</html>